@font-face {
    font-family: 'Rubik-Regular';
    src: url(src/font/Rubik-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url(src/font/Rubik-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url(src/font/Rubik-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'PT Sans';
    src: url(src/font/PTSans-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}