.styleFontRR {
    font-family: 'Rubik-Regular' !important;
}

.styleFontRM {
    font-family: 'Rubik-Medium' !important;
}

.styleFontRB {
    font-family: 'Rubik-Bold' !important;
}


.styleSizeIcon {
    width: 48px;
    height: 48px;
}

.styleSizeImgEnd {
    object-fit: cover;
}

.styleContentWidthImp {
    max-width: 40rem !important;
}

.styleTextBlackImp{
    color: black !important;
}

.styleImageEndContainer {
    width: 400px !important;
    height: 400px !important;
}

.styleImgDiv img {
    width: 200px;
    height: 120px;
    object-fit: contain;
}