.styleFontRR {
    font-family: 'Rubik-Regular' !important;
}

.styleFontRM {
    font-family: 'Rubik-Medium' !important;
}

.styleSizeIcon {
    width: 48px;
    height: 48px;
}

.styleContentWidthImp {
    max-width: 40rem !important;
}

.styleTextBlackImp{
    color: black !important;
}