body {
    min-height: 100vh;
    display: flex;
}

.styleFontRR {
    font-family: 'Rubik-Regular' !important;
}

.styleFontRM {
    font-family: 'Rubik-Medium' !important;
}

.quiz-card {
    width: 25rem;
}


.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .bg-danger, */
/* .bg-success { */
    /* color: black; */
/* } */

.wrong-answer {
    color: white;
}

.paddingTpBtm-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.widthUnset {
    width: unset;
}



.displayFlex-content {
    display: flex;
    justify-content: center;
}


.displayFlex-nav {
    display: flex;
    justify-content: center;
}

.displayFlex-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.flex-direction-unset {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

/* .card { */
    /* display: flex; */
    /* flex-direction: center; */
    /* justify-content: center; */
    /* align-items: center; */
/* } */

.styleContentWidth {
    max-width: 40rem !important;
}

.styleSizeIcon {
    width: 48px;
    height: 48px;
}

.styleTextBlackImp{
    color: black !important;
}