<div id="containerQuizEnd" class="style-Container-Quiz-End container bg-body-tertiary border d-none">
    <div
      class="container d-flex flex-column justify-content-around align-items-center bg-danger bg-opacity-25 styleImageEndContainer">
      <div class="styleImgEndDiv">
        <img src="src/img/quizBlue/Group 5.png">
      </div>
      <span class="styleFontRB fs-5">COMPLETE<br>HTML QUIZ</span>
      <span class="styleFontRB text-primary fs-5">YOUR SCORE<span class="text-black"
          id="countRightAnswers">10</span><span class="text-black"> / </span><span class="text-black"
          id="countTotalAnswers">10</span></span>
      <button type="button" class="btn btn-danger" onclick="replay()">REPLAY</button>
    </div>
  </div>  