<ul id="quiz-Card-Nav" class="nav flex-column  overlay">
    <a href="index.html">
        <div class="text-center mt-4 mb-5 ">
            <img src="src/img/quizBlue/logo 2.png" class="rounded">
        </div>
    </a>
    <li class="nav-item">
        <button id="nav-btn-1" type="button" class="btn btn-primary border-top-0 border-bottom-0 border-end-0 border-5 border-white rounded-0 text-light fs-5 mb-3"
            onclick="showGeography()">Geographie</button>
    </li>
    <li class="nav-item">
        <button id="nav-btn-2" type="button" class="w-100 btn btn-primary border-top-0 border-bottom-0 border-end-0 border-5 border-white rounded-0 text-light fs-5 mb-3"
        onclick="showPersons()">Personen</button>
    </li>
    <li class="nav-item">
        <button id="nav-btn-3" type="button" class="w-100 btn btn-primary border-top-0 border-bottom-0 border-end-0 border-5 border-white rounded-0 text-light fs-5 mb-3"
        onclick="showAnimals()">Tiere</button>
    </li>
    <button onclick="closeMenu()" class="closeButton"><img src="src/img/close.png"></button>
</ul>