<div id="progressContainer" class="AnswerContainer progress bg-secondary bg-opacity-75"
role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
<div class="progress-bar bg-primary" id="progress" style="width: 0%"></div>
</div>
<div id="rightAnswerContainer" class="rightAnswerContainer progress bg-secondary bg-opacity-75" role="progressbar"
    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-success" id="progressRightAnswer" style="width: 0%"></div>
</div>
<div id="wrongAnswerContainer" class="wrongAnswerContainer progress bg-secondary bg-opacity-75" role="progressbar"
    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-danger" id="progressWrongAnswer" style="width: 0%"></div>
</div>