<div id="containerQuiz" class="container bg-body-tertiary pt-3 pb-3">
  <p class="card-text text-center styleFontRM fs-5 style-Card-Question" id="card-question">Frage</p>
  <button type="button" disabled
    class="card w-100 btn btn-light text-start flex-row rounded-0 mb-2 fs-5 bg-opacity-50 p-0" id="answerb-1"
    onclick="answer('answer-1')">
    <span class="styleFontRM m-2 p-2 bg-secondary bg-opacity-25 styleSizeIcon text-center" id="listItem-1">A</span>
    <div class="card-body" id="answer-1">
      Antwort
    </div>
  </button>
  <button type="button" disabled
    class="card w-100 btn btn-light text-start flex-row rounded-0 mb-2 fs-5 bg-opacity-50 p-0" id="answerb-2"
    onclick="answer('answer-2')">
    <span class="styleFontRM m-2 p-2 bg-secondary bg-opacity-25 styleSizeIcon text-center" id="listItem-2">B</span>
    <div class="card-body" id="answer-2">
      Antwort
    </div>
  </button>
  <button type="button" disabled
    class="card w-100 btn btn-light text-start flex-row rounded-0 mb-2 fs-5 bg-opacity-50 p-0" id="answerb-3"
    onclick="answer('answer-3')">
    <span class="styleFontRM m-2 p-2 bg-secondary bg-opacity-25 styleSizeIcon text-center" id="listItem-3">C</span>
    <div class="card-body" id="answer-3">
      Antwort
    </div>
  </button>
  <button type="button" disabled
    class="card w-100 btn btn-light text-start flex-row rounded-0 mb-2 fs-5 bg-opacity-50 p-0" id="answerb-4"
    onclick="answer('answer-4')">
    <span class="styleFontRM m-2 p-2 bg-secondary bg-opacity-25 styleSizeIcon text-center" id="listItem-4">D</span>
    <div class="card-body" id="answer-4">
      Antwort
    </div>
  </button>
  <div class="d-flex justify-content-between align-items-center border-top border-dark-subtle py-3">
    <span>
      <b id="question-number">?</b> von <b id="count-all">?</b> Fragen
    </span>
    <button class="btn btn-primary" id="next-Button" disabled onclick="nextQuestion()">Nächste Frage</button>
  </div>
</div>