<div id="quiz-Welcome" class="container d-flex flex-column justify-content-around align-items-center m-0 p-0">
<button class="styleBtnWelcome p-0 border-0" onclick="showGeography()">
  <div class="styleImgWelcomeDiv">
    <img src="src/img/quizBlue/bg b.png">
  </div>
</button>
<span class="position-absolute fs-3 text-center">
  <button class= "styleBtnWelcomeText d-flex border-0 btn bg-opacity-100 fs-3  styleFontPT" onclick="showGeography()">
  Welcome to<br>The Awesome 50+
  QUIZ</span>
  </button>
</div>